<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>rails-class-table</title>
  </head>
  <body>
    <script type="text/x-template" id="grid-template">
      <table class="table table-hover">
        <thead>
          <tr>
            <th v-for="(column, index) in columns"
              @click="sortBy(index)"
              :class="[{ 'table-info': sortIndex === index }, sortOrders[index] > 0 ? 'dropup' : 'dropdown']">
              {{ column.label }}
              <span class="dropdown-toggle"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="row in sortedData">
            <td v-for="cell in row">
              <template v-if="cell.href">
                <a target="_blank" :href="cell.href">{{ cell.value }}</a>
              </template>
              <template v-else>
                {{ cell.value }}
              </template>
            </td>
          </tr>
        </tbody>
      </table>
    </script>

    <div class="container">
      <p>
        <a href="https://github.com/healthypackrat/rails-class-table">リポジトリに戻る</a>
      </p>

      <div id="demo">
        <form id="search" v-on:submit.prevent>
          <div class="form-group">
            <input name="query" v-model="searchQuery" placeholder="Filter..." class="form-control">
          </div>
        </form>
        <demo-grid
          :data="gridData"
          :columns="gridColumns"
          :filter-key="searchQuery">
        </demo-grid>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="entries.js"></script>
    <script src="main.js"></script>
  </body>
</html>
